body {
    font-family: "微软雅黑";
    font-size: 14px;
}

.hide {
    display: none;
}

.bg {
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -100;
}

.login {
    border: solid 2px rgba(0, 187, 255, 0.74);
    width: 300px;
    height: 150px;
    margin: 550px auto 0;
    background-color: rgba(98, 224, 229, 0.87);
}

.register {
    height: 200px;
}

.login ul {
    list-style: none;
}

.login ul li {
    float: left;
    width: 100px;
    margin: 5px 0;
    text-align: center;
}

.login input {
    width: 100px;
}

.login .btn {
    width: 50px;
    border-radius: 10px;
    border-color: rgba(56, 223, 121, 0.63);
    background-color: rgba(56, 223, 121, 0.63);
}

.login ul .msg {
    color: red;
    width: 200px;
    font-size: 12px;
}

.resource {
    margin: 550px auto 0;
}
