<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS}[%-5level]%logger - %msg%n</pattern>
            <!--<charset>UTF-8</charset>-->
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- ERROR级别 -->

    <!-- INFO级别 -->

    <!-- DEBUG级别 -->

    <!-- MyBatis -->

    <logger name="com.talkweb.ylimaf.web.dao" level="DEBUG"/>


</configuration>